GoogleNews==1.6.0
nltk==3.6.5
pandas==1.3.5
spacy==3.2.1
streamlit==1.3.0
textblob==0.17.1
yfinance==0.1.67
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
